/* If the viewport is < 340 pixels */

@media only screen and (max-width: 380px){
  .header_area.main-menu.navbar {
      padding: 4%;
      margin: 0%;
  }

}

/* Half Browser */

@media only screen and (max-width: 1200px){
    .header_area.main-menu.navbar {
        padding: 4%;
        margin: 0%;
    }

    .col-lg-4 > .single-brand > img {
        width: 100px;
        height: 100px;
    }

    .col-lg-4 > .single-brand {
        border: 1px solid var(--border-color);
        text-align: center;
        margin: 0.4rem -1rem;
        width: 150px;
        height: 150px;
        cursor: pointer;
        padding-top: 10%;
        transition: transform 0.4s ease;
    }

  }


/* Minimized Browser */

@media only screen and (max-width: 820px){
    
    .navbar-brand {
        margin-left: 2%;
        /* 250px */
    }



  }

  @media only screen and (max-width: 1000px)
  {
    
  }

  @media only screen and (max-width: 800px) {
   

  }

  @media only screen and (max-width: 700px) {
   
    
  }


  @media only screen and (max-width: 400px){
    .item {
        width: 80%;
        height: 475px;
        margin-bottom: 14%;
    }



  }