/* Import fonts from fonts.css file */
@import url(./fonts.css);

/* Import CSS variables */
@import url(./partials/_variables.css);

/* Import Global Styling */
@import url(./partials/_global.css);


/*  Start Navigation */

.navbar-nav > li {
    padding-left:15px;
    padding-right:15px;
}
  
.navbar-brand {
    margin-left: 12%;
    /* 250px */
}

.navbar-nav {
    padding-right:250px;
}

/* Nav Bar Text */
.nav-link {
    color: var(--title-color);
}

.navbar-nav a:hover {
    color: var(--title-color);
}

.main-menu-toggle {
    left: 200px;
    top: 20px;
}

/*  End Navigation */



/* Banner Area */

.subheading {
    padding-top: 20px;
}

.site-banner {
    background: url(../img/banner/home-banner.png) no-repeat; 
    background-position: 0% 50%;
}

.site-title {
    padding-top: 12%;
    font-weight: 500;
    padding-left: 10%;
}

.banner-image {
    padding: 7rem 0;
    width: 90rem;
}

.button.primary-button {
    width: 200px;
}

.banner-image {
    padding-top: 60px;
    padding-left: 70px;
}

/* Lists Page */

.desc-para {
    font-size: 21px; 
    font-weight: 350;
    line-height: 32px; 
    margin-top: 10px;
}


