/* Import fonts from fonts.css file */
@import url(./fonts.css);

/* Import CSS variables */
@import url(./partials/_variables.css);

/* Import Global Styling */
@import url(./partials/_global.css);


/*  Start Navigation */

.navbar-nav > li {
    padding-left:15px;
    padding-right:15px;
}
  
.navbar-brand {
    margin-left: 12%;
    /* 250px */
}

.navbar-nav {
    padding-right:250px;
}

/* Nav Bar Text */
.nav-link {
    color: var(--title-color);
}

.navbar-nav a:hover {
    color: var(--title-color);
}

.main-menu-toggle {
    left: 200px;
    top: 20px;
}

/*  End Navigation */



/* Banner Area */

.subheading {
    padding-top: 20px;
}

.site-banner {
    background: url(../img/banner/home-banner.png) no-repeat; 
    background-position: 0% 50%;
}

.site-title {
    padding-top: 12%;
    font-weight: 500;
    padding-left: 10%;
}

.banner-image {
    padding: 7rem 0;
    width: 90rem;
}

.button.primary-button {
    padding-top: 20px;
}

.banner-image {
    padding-top: 60px;
}

.ai-image {
    margin-top: 3%;    
}

.about-me-text-1 {
    font-weight: 300pt;
    padding-top: 20%;
    padding-left: 10%;
}

.about-me-text {
    font-weight: 300pt;
    padding-left: 10%;
}

/* End Banner Area */


/* Start About Area */

.about-title h2 > span {
    display: block;
    font-size: 40px;
    letter-spacing: 5px;
}

.init-desc {
    padding-bottom: 80px;
}

.button.primary-button.learn-more {
    margin-top: 10px;
}

.learn-more {
    margin-top: 5px;
    width: 150px;
}

.linkedin {
    margin-top: 25px;
}

.btn-blog {
    margin-top: 20px;
    width: 100px;
}

.about-me-text > h3 {
    font-weight: 350;
    line-height: 40px;
}

/* End About Area */


/* Start Brand Area */


.skills-area {
    display: block;
    font-size: 30px;
    letter-spacing: 5px;  
    margin-left: -35px;
    margin-top: 40px;
}

.skills-image-area {
    margin-top: 60px;
    margin-bottom: 4rem;
    padding-left: 33%;
}

.col-lg-4 {
    display: flex;
    justify-content: center;
}

.col-lg-4 > .single-brand {
    border: 1px solid var(--border-color);
    text-align: center;
    margin: 0.9rem 0;
    width: 420px;
    height: 120px;
    cursor: pointer;
    padding-top: 10%;
    transition: transform 0.4s ease;
}

.col-lg-4 > .single-brand > img {
    width: 100px;
    height: 100px;
}

.col-lg-4 > .single-brand:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.skills-area span {
    display: block;
}

.skills-text {
    background: url(../img/client-info-bg.png) no-repeat 40px 5px;
    padding: 2rem 2rem;
    padding-left: 4rem;
    position: relative;
}

/* End Brand Area */


/* Start Blog Area */

.blog {
    margin-top: -40px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
}


.blog-title {
    padding: 1rem;
    margin-top: 0px;
    font-size: smaller;
    
}

.blog1img {
    padding: 1.2rem;
}

.item {
    height: 410px;
    width: 350px;
    text-align: center;
    letter-spacing: 0.5pt;
    margin-top: 90px;
    margin-left: 12.5%;
    margin-right: 10%;
    margin-bottom: 40px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
}

.checkout {
    padding-top: 5%;
    text-align: center;
}

.btn.button.primary-button.btn-blog {
    margin-top: 10%;
}

.blog1img {
    text-align: center;
}

.item:hover {
    transform: scale(1.05);
}

/* End Blog Area */


/* Start Projects Area */

.projects-site-title {
    padding-top: 9%;
    font-weight: 500;
    padding-left: 10%;
}

.card {
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
  }
  
  .bg-img {
    background-size: cover;
    min-height: 180px;
    background-position: center;
    background-color: #ccc;
  }
  
  
  button {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
  }


.github-desc > h4 {
    font-size: 21px;
    font-weight: 400;
}

.focus-desc {
    margin-top: 40px;
}

.focus-desc > h3 {
    font-size: 23px;
    font-weight: 450;
}

.focus-desc > h4 {
    font-weight: 400;
    margin-left: 5%;
    line-height: 35px;
}


.project-desc {
    margin-top: 20px;
    z-index: auto;
}

.project-cards {
    transform: scale(0.75);
    margin-top: 10px;
    margin-left: 2%;
    transform: scale(0.5);
    transition: transform 0.4s ease;
}

.project-desc {
    font-size: 35px;
    font-weight: 340;
    margin-top: 20px;
}

.project-cards:hover {
    transform: scale(0.52);
}

.project-title-text {
    margin-top: 15px;
    font-size: 40px;
}

.nba-proj {
    top: -275px;
}

.stockmarket-proj {
    top: -550px;
    margin-bottom: 1000px;
}

.github-img {
    margin-top: -25px;
}

/* End Projects Area */







/* Start Blog Page */



.blog-main{
  padding-top: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card_btn {
  color: black;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 0.5px solid black;
  margin-top: 20px;
}


.card_btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

.card_content {
  padding: 1rem;
  background: whitesmoke;
}

.card_title {
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
    margin-top: 10px;
}

.btn-project {
    width: 12%;
    height: 60px;
    margin-top: 20px;
    font-size: 50px;
}

.blog-title-text {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.projects {
    margin-top: -90px;
}

.project-cards {
    margin-top: -200px;
}


/* End Blog Page */


/* Start VC Blog Post */

.vcBlogBanner {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}


/* End VC Blog Post */


/* About Me Page */

.vu-text > h3{ 
    font-size: 21px;
}

.vu-text {
    margin-top: 100px;
}

.vu-text-2 {
    margin-top: 90px;
}

.init-desc > h3{
    font-weight: 400;
    font-size: 21px;
}

.init-desc > h1 {
    font-weight: 500;
}

.tai-text {
    margin-top: 50px;
}

.tai-text > h3{
    font-size: 21px;
}


.bodypara {
    margin-left: 20%;
    margin-right: 20%;
}

.lifeimg {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 450px;
}

.lifeBlogTitle {
    margin-top: 25px;
}

/* Contact Page */

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centre the page */
.body {
    display:block;
    margin:0 auto;
    width:576px;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

textarea {
	height:213px;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    width:127px;
    height:38px;
    background: whitesmoke;
   
    border:none;
    margin-top:20px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:.85;
	}